.search-modal{
	display: none;
	width: 400px;
	height: 500px;
	background: #FFF;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	right: 15px;
	margin-top: 2px;
	padding: 5px;
}

#find-result{
	padding: 5px;
	width: 100%;
	height: 100%;
	background: #DDDDDD;
}