<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	  <div class="navbar-header">
	    <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%= link_to "Brand", root_path, class: "navbar-brand" %>
	  </div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	      <li><%= link_to "home", root_path %></li>
	      <li><%= link_to "users", users_path %></li>
	      <li>
		      <% if user_signed_in? %>
		        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
			    <% else %>
		        <%= link_to "Log In", new_user_session_path %>
			    <% end %>
	      </li>
	    </ul>
	    <div class="nav navbar-nav navbar-right">
	      <form class="navbar-form navbar-left" role="search" style="position: relative; display: inline-block;">
	        <div class="input-group">
	          <input id="search" class="form-control" placeholder="Search for..." type="text">
	          <span class="input-group-btn">
	            <button class="btn btn-default" type="button">Go!</button>
	          </span>
	        </div>
	        <div class="search-modal" id="search-modal">
	          <div id="find-result">

	          </div>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>
</nav>